
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Formato preoperacional #1</h3>
              </div>
              <div class="col-4 text-right">
                <h4 class="mb-0">{{fecha_actual}}</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Fecha de carga : {{fecha_actual | date:'dd-MM-yyyy'}}</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-vehiculo">VEHICULO</label>
                      <input type="text" id="input-vehiculo" class="form-control form-control-alternative" placeholder="Username" value="TRH465" [(ngModel)]="chq.Vehiculo" name="vehiculo"> 
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Realizado por:</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="{{persona}}" >
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              
              <!-- LUCES  --> <!-- LUCES  --> <!-- LUCES  --> <!-- LUCES  --> <!-- LUCES  --> <!-- LUCES  --> <!-- LUCES  --> <!-- LUCES  --> <!-- LUCES  --> 
              <h6 class="heading-small text-muted mb-4">Luces</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Alta/Baja</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.L_alta_baja" name="L_alta_baja">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Intermitentes(GUIÑADORES)</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.L_intermitentes" name="L_intermitentes">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Marcha atrás(LUZ/RETRO)</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.L_Marcha_atras" name="L_Marcha_atras">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Luces de freno</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.L_freno" name="L_freno">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- LUCES  --> <!-- FIN LUCES  --> <!-- LUCES  --> 
              <hr class="my-4" />
               <!-- OTROS  -->                <!-- OTROS  -->                 <!-- OTROS  --> 
               <h6 class="heading-small text-muted mb-4">Otros</h6>
               <div class="pl-lg-4">
                 <div class="row">
                   <div class="col">
                     <div class="form-group">
                       <label class="form-control-label" for="input-address">Chequeo G Motor</label>
                       <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Che_general_motor" name="Che_general_motor">
                         <option value="B" selected>B</option> 
                         <option value="M">M</option>
                       </select>
                     </div>
                   </div>
                    <div class="col">
                     <div class="form-group">
                       <label class="form-control-label" for="input-address">Sistema pedal/frenos</label>
                       <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Sistema_pedal_freno" name="Sistema_pedal_freno">
                         <option value="B" selected>B</option> 
                         <option value="M">M</option>
                       </select>
                     </div>
                   </div>
                    <div class="col">
                     <div class="form-group">
                       <label class="form-control-label" for="input-address">Sistema direccion</label>
                       <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Sistema_direccion" name="Sistema_direccion">
                         <option value="B" selected>B</option> 
                         <option value="M">M</option>
                       </select>
                     </div>
                   </div>
                    <div class="col">
                     <div class="form-group">
                       <label class="form-control-label" for="input-address">Nivel combustible</label>
                       <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.N_combustible" name="N_combustible">
                         <option value="B" selected>B</option> 
                         <option value="M">M</option>
                       </select>
                     </div>
                   </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Nivel aceite</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.N_aceite" name="N_aceite">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                 </div>
                 <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Nivel L frenos</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.N_liquido_frenos" name="N_liquido_frenos">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Nivel L hidraulico</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.N_liquido_hidraulico" name="N_liquido_hidraulico">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Nivel deposito agua</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.N_dispositivo_agua" name="N_dispositivo_agua">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Latoneria pintura</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Latoneria_pintura" name="Latoneria_pintura">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                   <div class="form-group">
                     <label class="form-control-label" for="input-address">Equipo refrigeracion</label>
                     <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Equipo_refrijeracion" name="Equipo_refrijeracion">
                       <option value="B" selected>B</option> 
                       <option value="M">M</option>
                     </select>
                   </div>
                 </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Bocina</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.bocina" name="bocina">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Cint. seguridad(todos)</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Cinturon_seguridad" name="Cinturon_seguridad">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Tablero de control</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Tablero_control" name="Tablero_control">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Espejos retrovisores</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Espejos_retrovisores" name="Espejos_retrovisores">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                   <div class="form-group">
                     <label class="form-control-label" for="input-address">Estado puertas</label>
                     <select class="form-control form-control-alternative" name="select"[(ngModel)]="chq.Estado_puertas" name="Estado_puertas">
                       <option value="B" selected>B</option> 
                       <option value="M">M</option>
                     </select>
                   </div>
                 </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Orden aseo</label>
                      <select class="form-control form-control-alternative" name="select"[(ngModel)]="chq.Orden_aseo" name="Orden_aseo">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                   <div class="col">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Soat / tarjeta</label>
                      <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Soat_tarjeta" name="Soat_tarjeta">
                        <option value="B" selected>B</option> 
                        <option value="M">M</option>
                      </select>
                    </div>
                  </div>
                </div>
               </div>
               <!-- OTROS  -->                <!-- OTROS  -->                 <!-- OTROS  --> 
               <hr class="my-4" />
                <!-- LLANTAS  --> <!-- LLANTAS  --> <!-- LLANTAS  -->
                <h6 class="heading-small text-muted mb-4">Llantas</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Delanteras</label>
                        <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Ll_delanteras" name="Ll_delanteras">
                          <option value="B" selected>B</option> 
                          <option value="M">M</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Traseras</label>
                        <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Ll_traseras" name="Ll_traseras">
                          <option value="B" selected>B</option> 
                          <option value="M">M</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Repuesto</label>
                        <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Ll_repuesto" name="Ll_repuesto">
                          <option value="B" selected>B</option> 
                          <option value="M">M</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Aprete de ruedas</label>
                        <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.Aprete_ruedas" name="Aprete_ruedas">
                          <option value="B" selected>B</option> 
                          <option value="M">M</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- LLANTAS  --> <!-- LLANTAS  --> <!-- LLANTAS  -->           
                <hr class="my-4" />
                <!-- KIT  --> <!-- KIT  --> <!-- KIT  -->
                <h6 class="heading-small text-muted mb-4">Kit de carreteras</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Botiquin</label>
                        <select class="form-control form-control-alternative" name="select" [(ngModel)]="chq.K_botiquin" name="K_botiquin">
                          <option value="B" selected>B</option> 
                          <option value="M">M</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Extintor presurizado</label>
                        <select class="form-control form-control-alternative" name="select"[(ngModel)]="chq.K_extintor" name="K_extintor">
                          <option value="B" selected>B</option> 
                          <option value="M">M</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Herramientas</label>
                        <select class="form-control form-control-alternative" name="select"[(ngModel)]="chq.K_herramientas" name="K_herramientas">
                          <option value="B" selected>B</option> 
                          <option value="M">M</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- KIT  --> <!-- KIT  --> <!-- KIT  -->
              <hr class="my-4" />
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Otro</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label>Otro</label>
                  <textarea rows="4" class="form-control form-control-alternative" placeholder="alguna otra cosa por reportar ?..." [(ngModel)]="chq.Otro" name="Otro"></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-lg btn-block" (click)="saveChequeo()">Cargar lista de chequeo</button>
            </form>
          </div>
        </div>
    </div>
  </div>
 </div>
